/input.pdf
/output_mosaic.pdf
/build/PDFStampRedactor/Analysis-00.toc
/build/PDFStampRedactor/base_library.zip
/build/PDFStampRedactor/PDFStampRedactor.pkg
/PDFStampRedactor.spec
/build/PDFStampRedactor/PYZ-00.pyz
/build/PDFStampRedactor/PYZ-00.toc
/build/PDFStampRedactor/warn-PDFStampRedactor.txt
/build/PDFStampRedactor/xref-PDFStampRedactor.html
/build/
/dist/
